<div id="page-top">
    <mat-card class="custcard" *ngIf="createFlag || editFlag || viewFlag">
      <mat-card-header class="custheader">
  
          <mat-card-title>Student Register</mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
          <form #studentobjCheck="ngForm" fxLayout="column">
              <div class="input-row" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="2%" fxLayoutGap.lt-md="2%" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="center">
  
  
  
  
                 
  
                  <mat-form-field [floatLabel]="labels.floatLabel" [fxFlex]="labels.flex_set" [appearance]="labels.feildAppearance">
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="Name" name="fname" id="fname" [(ngModel)]="studentDetailsObj.name" #fname="ngModel" pattern='^([a-zA-Z0-9. _-]+\s)*[a-zA-Z0-9._-]+$' minlength="3" maxlength="100"
                       required [readonly]="viewFlag">
                      <mat-error *ngIf="fname.invalid && (fname.dirty || fname.touched)" style="color: red;" >
                          <div *ngIf="fname.errors['required']">
                              Name is required.
                          </div>
                          <div *ngIf="fname.errors['minlength']">
                              Name must be at least 3 characters long.
                          </div>
                          <div *ngIf="fname.errors['pattern']">
                              Name cannot have special characters except(- . _).
                          </div>
                      </mat-error>
  
                  </mat-form-field>
                  <mat-form-field [floatLabel]="labels.floatLabel" [fxFlex]="labels.flex_set" [appearance]="labels.feildAppearance" *ngIf="!viewFlag">
                      <mat-label>Gender</mat-label>
                      <mat-select placeholder="Gender" id="gender" name="gender" [(ngModel)]="studentDetailsObj.gender" #gender1="ngModel" required disableOptionCentering
                      >
                          <mat-option *ngFor="let mod of gender" [value]="mod.item">{{mod.item}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="gender1.invalid && (gender1.dirty || gender1.touched)" style="color: red;">
                          <div *ngIf="gender1.errors['required']">
                              Gender is required.
                          </div>
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field [floatLabel]="labels.floatLabel" [fxFlex]="labels.flex_set" [appearance]="labels.feildAppearance" *ngIf="!viewFlag">
                    <mat-label>Group</mat-label>
                    <mat-select placeholder="Group" id="group" name="group" [(ngModel)]="studentDetailsObj.session" #group1="ngModel" required disableOptionCentering
                    >
                        <mat-option *ngFor="let mod of sessionList" [value]="mod.item">{{mod.item}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="group1.invalid && (group1.dirty || group1.touched)" style="color: red;">
                        <div *ngIf="group1.errors['required']">
                            Group is required.
                        </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field [floatLabel]="labels.floatLabel" [fxFlex]="labels.flex_set" [appearance]="labels.feildAppearance" *ngIf="viewFlag">
                  <mat-label>Gender</mat-label>
                  <input matInput placeholder="Gender" id="gender34" name="gender34" 
                  [(ngModel)]="studentDetailsObj.gender" #gender341="ngModel" [readonly]="viewFlag" required>
                  </mat-form-field>

                  <mat-form-field [floatLabel]="labels.floatLabel" [fxFlex]="labels.flex_set" [appearance]="labels.feildAppearance" *ngIf="viewFlag">
                    <mat-label>Group</mat-label>
                    <input matInput placeholder="Group" id="group12" name="group12" 
                    [(ngModel)]="studentDetailsObj.session" #group121="ngModel" [readonly]="viewFlag" required>
                    </mat-form-field>

                  <mat-form-field [floatLabel]="labels.floatLabel" [fxFlex]="labels.flex_set" [appearance]="labels.feildAppearance">
                      <mat-label>E-mail</mat-label>
                      <input matInput placeholder="E-mail" id="primaryemail" name="primaryemail" [(ngModel)]="studentDetailsObj.primaryEmail" pattern='^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$' #primaryemail="ngModel" [readonly]="viewFlag" required>
  
                      <mat-error *ngIf="primaryemail.invalid && (primaryemail.dirty || primaryemail.touched)" style="color: red;">
                          <div *ngIf="primaryemail.errors['required']">
                              Primary E-mail is required.
                          </div>
           
                          <div *ngIf="primaryemail.errors['pattern']">
                              Primary E-mail is Not valid format.
                          </div>
                      </mat-error>
                  </mat-form-field>
                  
  
                  <mat-form-field [floatLabel]="labels.floatLabel" [fxFlex]="labels.flex_set" [appearance]="labels.feildAppearance">
                      <mat-label>Primary Contact NO</mat-label>
                      <input matInput placeholder="Primary Contact NO " id="primarymobile" name="primarymobile" (keypress)="isNumber($event)" #primarymobile="ngModel" minlength="10" maxlength="10" [(ngModel)]="studentDetailsObj.primaryMobile" [readonly]="viewFlag"
                          required>
  
                      <mat-error *ngIf="primarymobile.invalid && (primarymobile.dirty || primarymobile.touched)" style="color: red;">
                          <div *ngIf="primarymobile.errors['minlength']">
                              Primary Contact NO must be at least 10 characters long.
                          </div>
                          <div *ngIf="primarymobile.errors['required']">
                              Primary Contact NO is required.
                          </div>
  
                      </mat-error>
  
                  </mat-form-field>
                  <mat-form-field [floatLabel]="labels.floatLabel" [fxFlex]="labels.flex_set" [appearance]="labels.feildAppearance">
                      <mat-label>Address Line</mat-label>
                      <input matInput placeholder="Address Line" id="addressline1" name="addressline1" [(ngModel)]="studentDetailsObj.addressLine1" minlength="3" [readonly]="viewFlag" #addressline1="ngModel" required>
                      <mat-error *ngIf="addressline1.invalid && (addressline1.dirty || addressline1.touched)" style="color: red;">
                          <div *ngIf="addressline1.errors['minlength']">
                              Address Line must be at least 3 characters long.
                          </div>
                          <div *ngIf="addressline1.errors['required']">
                              Address Line is required.
                          </div>
                      </mat-error>
                  </mat-form-field>
              </div>
          </form>
          <div *ngIf="!viewFlag">
          <button mat-flat-button color="primary" [disabled]="!(studentobjCheck.form.valid)"
              (click)="studentSubmit()" type="submit">Create Student</button> &nbsp; &nbsp;
  
          <button mat-stroked-button routerLink="." type="cancel" (click)="customerReset();">Cancel</button>
      </div>
      </mat-card-content>
  </mat-card>
      <div>
    
        <!-- <mat-sidenav-container class="example-container">
         
    
          <mat-sidenav-content> -->
    
            <mat-card class="example-card">
              <mat-card-header class="search-card-header">
                <mat-card-title style="font-size:16px;font-weight:bold;margin-bottom: 6px;
                margin-top: 6px;color: var(--baseColor);">
                 StudentList
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
    
                <div>
                  <div class="row search-header">
                    <div class="col-md-6">
                      <button mat-stroked-button color="warn" (click)="createStudent();">Create <em aria-hidden="true"
                         ></em></button>
    
                    </div>
                   
                  </div>
                </div>
    
                <div class="table-respoonsiveness mat-elevation-z8"
                  *ngIf="datasource.data && datasource.data.length>0">
                  <table style="width: 100%;" mat-table *ngIf="datasource.data.length>0" [dataSource]="datasource" multiTemplateDataRows
                    class="mat-elevation-z8">
                    <ng-container matColumnDef="seqNo">
                      <th mat-header-cell  style="padding: 1%;" class="rowstyle" *matHeaderCellDef scope="col" fxFlex="15"> Name
                      </th>
                      <td mat-cell style="padding: 1%;" class="rowstyle" *matCellDef="let element" fxFlex="15"> {{element.name}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="cityName">
                      <th mat-header-cell style="padding: 1%;" class="rowstyle" *matHeaderCellDef scope="col" fxFlex="15"> Gender
                      </th>
                      <td mat-cell style="padding: 1%;" class="rowstyle" *matCellDef="let element" fxFlex="15"> {{element.gender?element.gender
                        :
                        'NA'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cityCode">
                      <th mat-header-cell style="padding: 1%;" class="rowstyle" *matHeaderCellDef scope="col" fxFlex="20"> Email
                      </th>
                      <td mat-cell style="padding: 1%;" class="rowstyle" *matCellDef="let element" fxFlex="20"> {{element.primaryEmail?element.primaryEmail
                        :'NA'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="stateName">
                      <th mat-header-cell style="padding: 1%;" class="rowstyle" *matHeaderCellDef scope="col" fxFlex="15"> Mobile No
                      </th>
                      <td mat-cell style="padding: 1%;" class="rowstyle" *matCellDef="let element" fxFlex="15">
                        {{element.primaryMobile?element.primaryMobile : 'NA'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="districtName">
                      <th mat-header-cell style="padding: 1%;"  class="rowstyle" *matHeaderCellDef scope="col" fxFlex="20"> Address
                        
                      </th>
                      <td mat-cell style="padding: 1%;" class="rowstyle" *matCellDef="let element" fxFlex="20">
                        {{element.addressLine1?element.addressLine1
                        :'NA'}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="action">
                      <th mat-header-cell style="padding: 1%;" class="rowstyle" *matHeaderCellDef scope="col" fxFlex="15">Action </th>
                      <td mat-cell style="align-items: center;padding: 1%;" *matCellDef="let element; let i = dataIndex"  fxFlex="15">
                        <em   class="fa fa-pencil-square-o" matTooltip="View" (click)="viewStudent(element);"
                          style="color: #F44336;cursor: pointer;margin-right: 3%">
                          View
                        </em>
                        <em   class="fa fa-pencil-square-o" matTooltip="Delete" (click)="deleteStudent(i);"
                          style="color: #F44336;cursor: pointer;margin-right: 3%">
                          Delete
                        </em>
                        <em    class="fa fa-pencil-square-o" matTooltip="Edit" (click)="editService(i,element);"
                          style="color: #F44336;cursor: pointer;">
                          Edit
                        </em>
                      </td>
                    </ng-container>
                    <tr mat-header-row style="min-height: 100%;" *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row style="min-height: 100%;" *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <mat-toolbar *ngIf="datasource.data.length === 0" fxLayoutAlign="center center">No Records Found
                </mat-toolbar>
                
              <div>
    
            </div>
              </mat-card-content>
            </mat-card>
    
          <!-- </mat-sidenav-content>
      </mat-sidenav-container> -->
    
    </div>
    </div>